<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Heroic Features - Start Bootstrap Template</title>
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet"/>
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
    <style>
        body, html{
            margin: 0;
            padding: 0;
            height: 100%;
        }
        #body-wrapper {
            min-height: 100%;
            position: relative;
        }
        .col-4 {
            background-color: #b6d4fe;
            margin: 10px auto;
            height: 200px;
            width: 32%;
        }
    </style>
</head>

<body>
<div id="body-wrapper">
    <th:block th:replace="fragments/navbar :: navbarFragment"></th:block>
    <th:block th:replace="fragments/hol :: navbarFragment(${size})"></th:block>
    <div id=".content">
        <div class="row text-center">
            <div class="col-4" th:each="hol : ${hols}" th:onclick="|location.href='@{/sale/}'+${hol.getId()}|">
                <p th:text="${hol.getId()} + '번 테이블'"></p>
                <hr>
                <div style="overflow-y: scroll; max-height: calc(100% - 60px);">
                    <div th:each="sale : ${saleCart}" th:if="${sale.hol.id} == ${hol.getId()}">
                        <p th:text="${sale.product.name + ' ' + sale.count + '개 ' + ' ' + (sale.count * sale.product.price)} + '원'"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
